<div>

    <h1>This is portfolio projects</h1>

    @*// carousel 1 - Ecommerce project*@
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <div class=" image-render1">
                        <h5>First slide label</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <div class=" image-render"><h5>Second slide label</h5></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <div class="image-render"><h5>Third slide label</h5></div>
                </div>             
            </div>
        </div>
    </div>


    @*// carousel 2 - Insta fit

        // carousel 3 - True Coach

        // carousel 4 - ISS Finder*@

</div>