@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";

}
<body>
    <div class="navbar-header">
        <div class="dufort-designs">
            <h2>
                Dufort
            </h2>
        </div>
        <div class="dufort-designs2">
            <h2>
                Designs
            </h2>
        </div>
        <nav class="navbar">
            <div class="container">

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-links" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-links" asp-page="/Privacy">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-links" asp-page="/Privacy">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-links" asp-page="/Privacy">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-links" asp-page="/Privacy">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <header class="index-header">
        <div id="overlay"> </div>
        <section class="big-wrapper">
            <div class="welcome-container">
                <h2 class="welcome-font">Welcome</h2>
                <h1>
                    I Am
                    <span class="txt-rotate"
                          data-period="2000"
                          data-rotate='[ "A Developer.", "A Designer.", "A Motivator.", "Regan Dufort."]'></span>
                </h1>
                <h2 class="welcome-font">
                    Full-stack software developer. Dedicated to maximizing customer and organizational value through ​developing creative, customer-focused solutions,
                    with high quality, efficient, and maintainable code.
                </h2>
            </div>
            <div class="social-icons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
            <div class="contact">
                <a asp-page="ContactInfo/Contact">Contact</a>
            </div>
        </section>
    </header>
    <section class="about-me">
        <div class="pattern">
            <div class="regan-image"></div>
        </div>
        <div class="regan-outter-box"></div>
        <section id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About Me</h2>
                        <h3 class="section-subheading text-muted">
                            Lorem ipsum dolor sit amet consectetur.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <span class="coding-languages">HTML5</span>
                <div class="progress">
                    <div class="progress-bar" style="background-color: #34b1c4; width: 95%;">
                        <div class="progress-value">95%</div>
                    </div>
                </div>
                <span class="coding-languages">CSS3</span>
                <div class="progress">
                    <div class="progress-bar" style="background-color: #34b1c4; width: 75%;">
                        <div class="progress-value">75%</div>
                    </div>
                </div>
                <span class="coding-languages">ASP.NET CORE & C#</span>
                <div class="progress">
                    <div class="progress-bar" style="background-color: #34b1c4; width: 85%;">
                        <div class="progress-value">85%</div>
                    </div>
                </div>
                <span class="coding-languages">DEVOPS</span>
                <div class="progress">
                    <div class="progress-bar" style="background-color: #34b1c4; width: 70%;">
                        <div class="progress-value">70%</div>
                    </div>
                </div>
                <span class="coding-languages">SQL & LINQ</span>
                <div class="progress">
                    <div class="progress-bar" style="background-color: #34b1c4; width: 78%;">
                        <div class="progress-value">78%</div>
                    </div>
                </div>
                <span class="coding-languages">JAVASCRIPT + JQUERY + REACT</span>
                <div class="progress">
                    <div class="progress-bar" style="background-color: #34b1c4; width: 75%;">
                        <div class="progress-value">75%</div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div class="counter-container">
        <div class="counter-description">
            <i class="material-icons">bookmark</i>
            <h6>Projects Completed</h6>
            <span class="counter">174</span>
        </div>
        <div class="counter-description">
            <i class="material-icons">free_breakfast</i>
            <h6>Cups of coffee</h6>
            <span class="counter">3500</span>
        </div>
        <div class="counter-description">
            <i class="material-icons">code</i>
            <h6>Lines of code</h6>
            <span class="counter">5246</span>
        </div>
        <div class="counter-description">
            <i class="material-icons">insert_emoticon</i>
            <h6>Happy Clients</h6>
            <span class="counter">355</span>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ReganDufort - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <div class="carausel-container">
        <partial name= "_Projects" />      
    </div>
</body>